* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ====== Colors ====== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #88a9c3;
    --primary-color-light: #f6f5ff;
    --secondary-color: #2b4257;
    --secondary-color-light: #a5b2bd;
    --toggle-color: #ddd;
    --text-color: #343434;
    --gradient-color: linear-gradient(to right, #88a9c3, #a5b2bd);
    --clr-1: #657c4e;
    --clr-2: #e7d3b2;
    --clr-3: #f0f0f0;
    --clr-4: #a6c6d5;
    --clr-5: #d3dfc7;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-body,
.freeplay-body,
.newgame-body,
.mainmenu-body,
.arcade-body {
    background-image: url(../images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* ====== login-register.html ====== */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container .logo img {
    width: 250px;
    margin-bottom: 20px;
}


.login-container .registration {
    display: none;
}

.login-container #check:checked~.registration {
    display: block;
}

.login-container #check:checked~.login {
    display: none;
}

.login-container #check {
    display: none;
}

.login-container .form {
    padding: 2rem;
}

.login-container .form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-container .form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.login-container .form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.login-container .form input.button {
    color: #fff;
    background: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.login-container .form input.button:hover {
    background: var(--secondary-color);
}

.login-container .signup {
    font-size: 17px;
    text-align: center;
}

.login-container .signup label {
    color: var(--primary-color);
    cursor: pointer;
}

.login-container .signup label:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* ====== index.html ====== */
.mainmenu-container {
    background-color: var(--sidebar-color);
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.mainmenu-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainmenu-container .logo img {
    width: 200px;
    margin-top: 20px;
}

.mainmenu-container .main-buttons {
    display: grid;
    margin: 0 auto;
}

.mainmenu-container .main-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}

.mainmenu-container .side-buttons {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.mainmenu-container .side-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ====== newgame.html ====== */
.newgame-container {
    background-color: var(--sidebar-color);
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.newgame-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.newgame-container .logo img {
    width: 200px;
    margin-top: 20px;
}

.newgame-container .main-buttons {
    display: grid;
    margin: 0 auto;
}

.newgame-container .main-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}

.newgame-container .side-buttons {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.newgame-container .side-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ====== arcade.html ====== */
.arcade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 10px;
}

.arcade-container .arcade-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arcade-container .arcade-mode .arcade-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.arcade-container .arcade-mode .arcade-stats span {
    margin-left: 5px;
}

.arcade-container .arcade-mode .arcade-stats h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.arcade-container .arcade-mode .arcade-stats img {
    width: 25px;
    margin-right: 5px;
}

.arcade-container .arcade-mode .grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
    border: 1px solid #000;
}

.arcade-container .arcade-mode .cell {
    width: 30px;
    height: 30px;
    background-color: #eee;
}

.arcade-container .arcade-mode .building {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arcade-container .arcade-mode .building-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;

    img {
        width: 50px;
    }
}

.arcade-container .arcade-mode .building-container h2 {
    text-align: center;
}

.arcade-container .arcade-mode .building img {
    width: 30px;
}

.arcade-container .arcade-mode .building-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

.arcade-container .x-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
}

.arcade-container .x-buttons a {
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.arcade-container .x-buttons .right-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.arcade-container .x-buttons .right-buttons a {
    margin-left: 10px;
}

.arcade-container .arcade-mode .building-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.arcade-container .arcade-mode .demolish-btn {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    width: 40px;
}

/* ====== freeplay.html ====== */
.freeplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 10px;
}

.freeplay-container .freeplay-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.freeplay-container .freeplay-mode .freeplay-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.freeplay-container .freeplay-mode .freeplay-stats span {
    margin-left: 5px;
}

.freeplay-container .freeplay-mode .freeplay-stats h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.freeplay-container .freeplay-mode .freeplay-stats img {
    width: 25px;
    margin-right: 5px;
}

.freeplay-container .freeplay-mode .grid {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
    gap: 2px;
    border: 1px solid #000;
    padding: 2px;
}

.freeplay-container .freeplay-mode .cell {
    width: 30px;
    height: 30px;
    background-color: #eee;
}

.freeplay-container .freeplay-mode .building {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.freeplay-container .freeplay-mode .building-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;

    img {
        width: 50px;
    }
}

.freeplay-container .freeplay-mode .building-container h2 {
    text-align: center;
}

.freeplay-container .freeplay-mode .building img {
    width: 30px;
}

.freeplay-container .freeplay-mode .building-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

.freeplay-container .x-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
}

.freeplay-container .x-buttons a {
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.freeplay-container .x-buttons .right-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.freeplay-container .x-buttons .right-buttons a {
    margin-left: 10px;
}

.freeplay-container .freeplay-mode .building-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.freeplay-container .freeplay-mode .demolish-btn {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    width: 40px;
}