* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ====== Colors ====== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #88a9c3;
    --primary-color-light: #f6f5ff;
    --secondary-color: #2b4257;
    --secondary-color-light: #a5b2bd;
    --toggle-color: #ddd;
    --text-color: #343434;
    --gradient-color: linear-gradient(to right, #88a9c3, #a5b2bd);
    --clr-1: #657c4e;
    --clr-2:#e7d3b2;
    --clr-3: #f0f0f0;
    --clr-4: #a6c6d5;
    --clr-5: #d3dfc7;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newgame-body, .mainmenu-body, .arcade-body {
    background-image: url(../images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* ====== login.html ====== */
.login-container {
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.login-container .logo img {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-container .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.login-container .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container .login-btn:hover {
    background-color: #0056b3;
}

.login-container .signup-link {
    margin-top: 15px;
    color: #555;
}

.login-container .signup-link a {
    color: #007bff;
    text-decoration: none;
}

.login-container .signup-link a:hover {
    text-decoration: underline;
}

.login-container .google-login-btn {
    width: 100%;
    padding: 10px;
    background-color: #db4437;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container .google-login-btn:hover {
    background-color: #c23321;
}

/* ====== index.html ====== */
.mainmenu-container {
    background-color: var(--sidebar-color);
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.mainmenu-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainmenu-container .logo img {
    width: 200px;
    margin-top: 20px;
}

.mainmenu-container .main-buttons {
    display: grid;
    margin: 0 auto;
}

.mainmenu-container .main-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}

.mainmenu-container .side-buttons {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.mainmenu-container .side-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ====== newgame.html ====== */
.newgame-container {
    background-color: var(--sidebar-color);
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.newgame-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.newgame-container .logo img {
    width: 200px;
    margin-top: 20px;
}

.newgame-container .main-buttons {
    display: grid;
    margin: 0 auto;
}

.newgame-container .main-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}

.newgame-container .side-buttons {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.newgame-container .side-buttons a {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ====== arcade.html ====== */
.arcade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 10px;
}

.arcade-container .arcade-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arcade-container .arcade-mode .arcade-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.arcade-container .arcade-mode .arcade-stats span {
    margin-left: 5px;
}

.arcade-container .arcade-mode .arcade-stats h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.arcade-container .arcade-mode .arcade-stats img {
    width: 25px;
    margin-right: 5px;
}

.arcade-container .arcade-mode .grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
    border: 1px solid #000;
}

.arcade-container .arcade-mode .cell {
    width: 30px;
    height: 30px;
    background-color: #eee;
}

.arcade-container .arcade-mode .building {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arcade-container .arcade-mode .building img {
    width: 30px;
}

.arcade-container .x-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
}

.arcade-container .x-buttons a {
    text-decoration: none;
    color: var(--primary-color-light);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.arcade-container .x-buttons .right-buttons {
display: flex;
justify-content: space-between;
margin-left: 10px;
}

.arcade-container .x-buttons .right-buttons a {
    margin-left: 10px;
}